@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.main_visual_inner {
  display: flex;

  @include mobile {
    display: block;
  }
}

.main_visual_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 82px;
  padding-right: 32px;
  padding-left: 31px;
  border-bottom: 1px solid $fontMainColor;
  border-left: 1px solid $fontMainColor;

  @include mobile {
    display: none;
  }
}

.main_visual_title {
  font-size: 2.4375rem;
  font-family: var(--fontEN);
  letter-spacing: 0.097em;
}

.main_visual_subtitle {
  text-align: center;
  font-size: 1.8125rem;
  font-family: var(--fontDamion);
  letter-spacing: 0.09em;
}

:global(.swiper-pagination-bullet) {
  height: 15px;
  width: 15px;
}

@media screen and (max-width: 960px) {
  :global(.swiper-pagination-bullet) {
    height: clamp(5px, 1.56vw, 15px);
    width: clamp(5px, 1.56vw, 15px);
  }
}

:global(.swiper-pagination-bullet-active) {
  background-color: #fff;
}
