@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.gallery_wrapper {
  margin-bottom: 21px;
}

.gallery {
  margin-bottom: 21px;
}

.choice_btn {
  :global(.swiper-slide) {
    cursor: pointer;
    outline: none;
    background: #333;
    width: 16.6% !important;
    list-style: none;

    img {
      opacity: 0.4;
    }

    &:global(.swiper-slide-thumb-active img) {
      opacity: 1;
    }
  }

  :global(.swiper-track) {
    transform: unset !important;
  }
}

.swiper_prev,
.swiper_next {
  position: absolute;
  z-index: 3;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid #ccc;
  border-right: 2px solid #ccc;
  height: 25px;
  width: 25px;
}

.swiper_prev {
  left: 2.5%;
  transform: rotate(-135deg);
}

.swiper_next {
  right: 2.5%;
  transform: rotate(45deg);
}
