.sideMenu {
  width: 200px;
  margin-right: 70px;
  flex-shrink: 0;
}

.sideMenu_title {
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: 0.09em;
  color: #333;
  padding-bottom: 3.3px;
  border-bottom: 2px solid #333;
  margin-bottom: 18.5px;
}

.sideMenu_title:not(:first-child) {
  margin-top: 68px;
}

.sideMenu_list {
  padding-left: 17px;
}

.sideMenu_item {
  font-size: 0.875rem;
  letter-spacing: 0.097em;
}

.hasSub {
  position: relative;
}

.sideMenu_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 9px 11px 14px;
}

.sideMenu_link:hover {
  background-color: #e9e9e9;
}

.sideMenu_chevron {
  width: 7.43px;
  height: 13px;
}

.subMenu {
  background-color: #fff;
  display: none;
  position: absolute;
  padding: 5px 10px;
  border: 1px solid #a0a0a0;
  width: 235px;
  top: 0;
  left: 100%;

  &.open {
    display: block;
  }
}

.subMenu_item:hover {
  background-color: #e9e9e9;
}

.subMenu_link {
  display: inline-block;
  font-size: 0.875rem;
  letter-spacing: 0.097em;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 0.5em;
}

@media screen and (max-width: 1400px) {
  .sideMenu {
    display: none;
  }
}
