@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.content_block {
  display: flex;

  @include tablet {
    display: block;
  }
}

:global(.toppage) {
  .content_block {
    margin-top: 98px;
    padding-right: 75px;
    padding-left: 75px;

    @include mobile {
      margin-top: 100px;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}

.content_block_main {
  margin: 0 auto;
  flex-grow: 1;
}